<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="parser" class="ru.phororex.hw1.services.QuestionDataParserImpl" />
    <bean id="console" class="ru.phororex.hw1.services.ConsoleService"/>
    <bean id="poll" class="ru.phororex.hw1.services.PollServiceImpl">
        <constructor-arg name="parser" ref="parser"/>
        <constructor-arg name="consoleService" ref="console"/>
    </bean>

</beans>
